---
import BaseLayout from "../BaseLayout.astro";
import "../styles/playground.scss";
---

<BaseLayout title="Rome Playground" bodyClass="playground">
  <div id="root"></div>
  
  <script type="module" src="/src/playground/main.tsx"></script>
</BaseLayout>
