---
import BaseLayout from "/BaseLayout.astro";
import NavigationSidebar from "/components/NavigationSidebar.astro";
import "/playground/styles/index.scss";
---

<BaseLayout title="Rome Playground" bodyClass="playground-body">
  <NavigationSidebar />
  <div id="root"></div>
  
  <script>
    import "/src/playground/main.tsx";
  </script>
</BaseLayout>
