<footer aria-labelledby="footer" class="footer">
	<h1 id="footer" class="sr-only">Footer</h1>

	<div class="container">
		<div class="row">
			<div>
				<nav aria-labelledby="community-navigation">
					<h2 id="community-navigation">Community</h2>
					<ul>
						<li>
							<a href="https://github.com/romejs/rome/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
						</li>
						<li>
							<a href="https://discord.gg/9WxHa5d">Discord</a>
						</li>
						<li>
							<a href="https://twitter.com/romejsdev">Twitter</a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<nav aria-labelledby="resources-navigation">
					<h2 id="resources-navigation">Resources</h2>
					<ul>
						<li>
							<a href="https://github.com/romejs/rome">GitHub</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="logo">
			{% include "../svg/rome-logo.njk" %}
			<span class="logo-text">Rome</span>
		</div>
	</div>
</footer>

<script src="{{ '/static/js/index.js' | url }}"></script>
