<head>
	<title>{{ title }}{{ " — " if title }}Rome Frontend Toolchain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="mask-icon" href="{{ '/static/img/pinned-rome-logo.svg' | url }}" color="#000000">
  <link rel="alternate icon" type="image/png" href="{{ '/static/img/favicon.png' | url }}">
	<link rel="icon" type="image/svg+xml" href="{{ '/static/img/favicon.svg' | url }}">

	<meta name="description" content="Standardizing the web development experience.">
	<meta name="og:title" content="{{ title }}{{ " — " if title }}Rome Frontend Toolchain">
	<meta name="og:description" content="Standardizing the web development experience.">
	<meta name="og:image" content="https://romefrontend.dev/static/img/social-logo.png">
	<meta name="twitter:image" content="https://romefrontend.dev/static/img/social-logo.png">
	<meta name="twitter:image:alt" content="Logo for the Rome Frontend Toolchain Project">
	<meta name="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap">
	<link rel="stylesheet" href="{{ '/static/styles.css' | url }}">
	<script>

		(function () {
			// Fix white flickering when on dark mode and respect color scheme preference
			let currentTheme = window.localStorage.getItem('data-theme');
			const $doc = document.documentElement;
			const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

			if(!currentTheme)	{
				currentTheme = prefersDarkMode ? 'dark' : 'light';
			}

			window.localStorage.setItem('data-theme', currentTheme);
			$doc.setAttribute("data-theme", currentTheme);
		})();

	</script>
</head>
