<head>
	<title>{{ title }}{{ " — " if title }}Rome JavaScript toolchain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="mask-icon" href="{{ '/static/img/pinned-rome-logo.svg' | url }}" color="#000000">
  <link rel="alternate icon" type="image/png" href="{{ '/static/img/favicon.png' | url }}">
	<link rel="icon" type="image/svg+xml" href="{{ '/static/img/favicon.svg' | url }}">

	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="{{ config.og.title }}">
	<meta property="og:description" content="{{ config.og.description }}">
	<meta property="og:image" content="{{ config.og.image | url }}">
	<meta property="twitter:image" content="{{ config.twitter.image | url }}">
	<meta name="twitter:image:alt" content="{{ config.twitter.imageAlt }}">
	<meta name="twitter:card" content="{{ config.twitter.card }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap">
	<link rel="stylesheet" href="{{ '/static/styles.css' | url }}">
	<script>

		// Fix white flickering when on dark mode
		(function () {
			const themeInStorage = window.localStorage.getItem('data-theme');
			const $doc = document.documentElement;

			if(!themeInStorage)	{
				window.localStorage.setItem('data-theme', 'light');
			}

			$doc.setAttribute("data-theme", themeInStorage);
		})();

	</script>
</head>
