---
title: Blog posts
layout: layouts/blog/base.njk
---

{% for post in collections.post | reverse %}
	<article>
		<h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
		<div class="info">
			<div>by {{ post.data.author }}</div>
			<time datetime="{{ post.date }}"> {{ post.date | dateFormat }} </time>
		</div>
		<p>{{ post.data.description }}</p>

		<div class="tags">
			tags:
			{% for tag in post.data.tags %}
				{%- if collections.tagList.indexOf(tag) != -1 -%}
				{% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
				{%- endif -%}
			{% endfor %}
		</div>
	</article>
{% endfor %}
