---
permalink: blog/tags/
layout: layouts/base.njk
---
<h1>Tags</h1>

<div class="tags">
{% for tag in collections.tagList | sort(false, true) %}
  {% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }} {{collections[tag].length}} </a>
{% endfor %}
</div>