---
permalink: blog/tags/
layout: layouts/page.liquid
---

<h1>Tags</h1>

<div class="tags-page">
	{% for tag in collections.tagList %}
		{% capture tagUrl %}/blog/tags/{{ tag }}/{% endcapture %}
		<a href="{{ tagUrl }}" class="tag">{{ tag }} {{collections[tag].length}} </a>
	{% endfor %}
</div>
