
<svg class="close icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>Close Icon</title><rect class="cls-1" x="-5.29" y="13.34" width="42.58" height="5.33" rx="2.66" transform="translate(16 -6.63) rotate(45)"/><rect class="cls-1" x="-5.29" y="13.34" width="42.58" height="5.33" rx="2.66" transform="translate(38.63 16) rotate(135)"/></svg>