<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>Mobile Navigation Handle</title><rect width="32" height="3.66" rx="1.83"/><rect y="28.34" width="32" height="3.66" rx="1.83"/><rect y="14.17" width="32" height="3.66" rx="1.83"/></svg>