[submodule "xtask/src/coverage/test262"]
	path = xtask/src/coverage/test262
	url = https://github.com/tc39/test262
	shallow = true

[submodule "xtask/src/coverage/Typescript"]
	path = xtask/src/coverage/Typescript
	url = https://github.com/microsoft/Typescript
	shallow = true
