.DS_Store
Profile-*.json
# Editor configuration
.vscode
.idea
.vs
# Release artifacts
**/target
# Ignore test files that contributors could create locally
/test.*
# Ignore third-party files
**/node_modules
**/dist
npm/cli-*
.pnpm-debug.log

# https://github.com/nnethercote/dhat-rs output file
dhat-heap.json

crates/rome_js_formatter/report.*
crates/rome_json_formatter/report.*
