.DS_Store
Profile-*.json
# Editor configuration
.vscode
.idea
# Release artifacts
/dist
/dist.tar.gz
# Ignore test files that contributors could create locally
/test.*
# Ignore lockfiles
yarn.lock
package-lock.json
npm-shrinkwrap.json
pnpm-lock.yaml
