[workspace]
# Use the newer version of the cargo resolver
# https://doc.rust-lang.org/cargo/reference/resolver.html#resolver-versions
resolver = "2"
members = [
	"crates/*",
	"website/playground",
	"xtask/bench",
	# "xtask/codegen",
	"xtask/coverage",
]
