[package]
name = "rome_js_analyze"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
rome_analyze = { path = "../rome_analyze" }
rome_control_flow = { path = "../rome_control_flow" }
rome_rowan = { path = "../rome_rowan" }
rome_js_semantic = { path = "../rome_js_semantic" }
rome_js_syntax = { path = "../rome_js_syntax" }
rome_js_factory = { path = "../rome_js_factory" }
rome_console = { path = "../rome_console" }
rome_diagnostics = { path = "../rome_diagnostics" }
roaring = "0.9.0"
rustc-hash = { workspace = true }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.74", features = ["raw_value"] }

[dev-dependencies]
tests_macros = { path = "../tests_macros" }
rome_text_edit = { path = "../rome_text_edit" }
rome_js_parser = { path = "../rome_js_parser", features = ["tests"] }
insta = { version = "1.18.2", features = ["glob"] }
countme = { workspace = true, features = ["enable"] }
similar = "2.1.0"
