[package]
name = "rome_js_analyze"
version = "0.0.0"
edition = "2021"
authors = ["Rome Tools Developers and Contributors"]
repository = "https://github.com/rome/tools"
license = "MIT"

[dependencies]
rome_analyze = { path = "../rome_analyze" }
rome_control_flow = { path = "../rome_control_flow" }
rome_rowan = { path = "../rome_rowan" }
rome_js_semantic = { path = "../rome_js_semantic" }
rome_js_syntax = { path = "../rome_js_syntax" }
rome_js_factory = { path = "../rome_js_factory" }
rome_json_syntax = { path = "../rome_json_syntax" }
rome_json_factory = { path = "../rome_json_factory" }
rome_console = { path = "../rome_console" }
rome_diagnostics = { path = "../rome_diagnostics" }
rome_deserialize = { path = "../rome_deserialize" }
rome_aria = { path = "../rome_aria" }
roaring = "0.9.0"
rustc-hash = { workspace = true }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.74", features = ["raw_value"] }
lazy_static = "1.4.0"
natord = "1.0.9"

[dev-dependencies]
tests_macros = { path = "../tests_macros" }
rome_text_edit = { path = "../rome_text_edit" }
rome_js_parser = { path = "../rome_js_parser", features = ["tests"] }
insta = { workspace = true, features = ["glob"] }
countme = { workspace = true, features = ["enable"] }
similar = "2.1.0"
json_comments = "0.2.1"
