.container {
  margin: auto;
  max-width: 1280px;
}

.table-of-contents{
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  list-style: none;
}

.table-of-contents a{
  text-decoration: none;
}

.table-of-contents li, .table-of-contents ul{
  padding: 3px;
}

.table-of-contents li{
  list-style-type: none;
}

