*, html {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  color: rgb(28, 30, 33);
  line-height: 1.65;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: Libre Baskerville, serif;
}

a {
  color: inherit;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
  font-size: 0.9rem;
  border-right: 1px solid #eaeaea;
}

.logo {
  display: inline-flex;
  align-items: baseline;
  margin: 12px;
  text-decoration: none;
  font-size: 32px;
  font-family: Libre Baskerville, serif;
}

.logo img {
  width: 42px;
  margin-right: 12px;
}

.table-of-contents a {
  text-decoration: none;
  height: auto;
  padding: 3px 9px;
  border-radius: 4px;
  display: inline-block;
}

.table-of-contents li {
  list-style-type: none;
}

.table-of-contents .is-active-link {
  color: rgb(255, 201, 5);
  background-color: rgba(0, 0, 0, 0.05);
}

.main {
  margin-left: 320px;
  overflow: hidden;
}

.content {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 16px 64px 16px;
}

.header-anchor {
  display: none;
  text-decoration: none;
  color: rgb(255, 201, 5);
}

.header-anchor:hover {
  text-decoration: underline;
}

.content h1:hover .header-anchor,
.content h2:hover .header-anchor,
.content h3:hover .header-anchor {
  display: inline-block;
}

.hero {
  position: relative;
  padding: 32px;
  color: rgb(68, 73, 80);
}

.hero::before {
  content: '';
  position: absolute;
  left: -100%;
  right: -100%;
  top: 0;
  bottom: 0;
  background: #ffffff;
  background-image: url(../img/pattern-white.png),radial-gradient(circle,#fff 0,rgba(241,241,239,.7) 100%);
  background-repeat: repeat;
    background-position: 50%;
    background-size: 125px;
  z-index: -1;
}
