<!-- this file is auto generated, use `cargo lintdoc` to update it -->
<ul><li><code>accessibility</code>: Rules focused on preventing accessibility problems.</li>
<li><code>complexity</code>: Rules that focus on inspecting complex code that could be simplified.</li>
<li><code>correctness</code>: Rules that detect code that is guaranteed to be incorrect or useless.</li>
<li><code>performance</code>: Rules catching ways your code could be written to run faster, or generally be more efficient.</li>
<li><code>security</code>: Rules that detect potential security flaws.</li>
<li><code>style</code>: Rules enforcing a consistent and idiomatic way of writing your code.</li>
<li><code>suspicious</code>: Rules that detect code that is likely to be incorrect or useless.</li>
<li><code>nursery</code>: New rules that are still under development.  Nursery rules require explicit opt-in via configuration on stable versions because they may still have bugs or performance problems. They are enabled by default on nightly builds, but as they are unstable their diagnostic severity may be set to either error or warning, depending on whether we intend for the rule to be recommended or not when it eventually gets stabilized. Nursery rules get promoted to other groups once they become stable or may be removed.  Rules that belong to this group are not subject to semantic version.</li>
</ul>