/* Single pseudo selectors */
.example:any-link {
	width: 10px;
}

.example::selection {
	width: 10px;
}

/* Multiple pseudo classes */
.parent > .child:any-link, .example:read-only {
	width: 10px;
}

/* Multiple pseudo elements */
.parent2 > .child2::placeholder, .example2::selection {
	width: 10px;
}

/* Multiple pseudo selectors mixed */
.parent3 > .child3:any-link, .example3::placeholder {
	width: 10px;
}

.parent3 > .child3::selection, .example3:read-only {
	width: 10px;
}

/* Already prefixed */
.example4:read-only, .example5:-moz-any-link, .example6::placeholder {
	width: 10px;
}

.example5:any-link {
	width: 10px;
}

.example5:-moz-any-link {
	width: 10px;
}

/* Duplicate rules */
.example6:any-link {
	width: 10px;
}

.example6:any-link {
	width: 10px;
}

/* Nested inside CSSAtRule */
@media screen and (max-width: 992px) {
  .example:any-link {
	width: 10px;
  }

  .example2::placeholder {
	width: 10px;
  }
}

/* Add only the necessary prefixes */
.example7:any-link {
   width: min-content;
}