.parent > .child:any-link, .example:read-only {
	width: 10px;
}

.parent2 > .child2:any-link, .example2:read-only {
	width: 10px;
}

.parent3 > .child3::placeholder, .example3::selection {
	width: 10px;
}

.parent4 > .child4::placeholder, .example4::selection {
	width: 10px;
}

.parent5 > .child5:any-link, .example5::placeholder {
	width: 10px;
}