[package]
name = "rome_analyze"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rome_js_syntax = { path = "../rome_js_syntax" }
rslint_parser = { path = "../rslint_parser" }
anyhow = "1.0.52"
tracing = { version = "0.1.31", features = ["max_level_trace", "release_max_level_warn"] }
rslint_errors = { path = "../rslint_errors", version = "0.2.0" }
