.style {
	text-align: center;
	border-radius: 10px;
}

.style {
	border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.style {
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
