[package]
authors.workspace    = true
edition.workspace    = true
license.workspace    = true
name                 = "rome_service"
repository.workspace = true
version              = "0.0.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bpaf                = { workspace = true }
dashmap             = { workspace = true }
indexmap            = { workspace = true, features = ["serde"] }
rome_analyze        = { workspace = true, features = ["serde"] }
rome_console        = { workspace = true }
rome_deserialize    = { workspace = true }
rome_diagnostics    = { workspace = true }
rome_flags          = { workspace = true }
rome_formatter      = { workspace = true, features = ["serde"] }
rome_fs             = { workspace = true, features = ["serde"] }
rome_js_analyze     = { workspace = true }
rome_js_factory     = { workspace = true, optional = true }
rome_js_formatter   = { workspace = true, features = ["serde"] }
rome_js_parser      = { workspace = true }
rome_js_semantic    = { workspace = true }
rome_js_syntax      = { workspace = true, features = ["serde"] }
rome_json_analyze   = { workspace = true }
rome_json_formatter = { workspace = true }
rome_json_parser    = { workspace = true }
rome_json_syntax    = { workspace = true }
rome_parser         = { workspace = true }
rome_rowan          = { workspace = true, features = ["serde"] }
rome_text_edit      = { workspace = true }
schemars            = { version = "0.8.10", features = ["indexmap1"], optional = true }
serde               = { version = "1.0.133", features = ["derive"] }
serde_json          = { version = "1.0.74", features = ["raw_value"] }
tracing             = { workspace = true, features = ["attributes"] }

[features]
schemars = [
  "dep:schemars",
  "rome_js_analyze/schemars",
  "rome_formatter/serde",
  "rome_js_factory",
  "rome_text_edit/schemars",
]

[dev-dependencies]
insta        = { workspace = true }
tests_macros = { workspace = true }
