@import "_mixins";
@import "_variables";

.about-body .content {
	max-width: 800px;
	text-align: center;

	h1 {
	}
}

.about-team-list {
	text-align: center;
	margin: 0;
	margin-top: 32px;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
  gap: 20px;

	li {
		width: 220px;
		list-style: none;
		border: 1px solid var(--soft-border-color);
		background-color: var(--container-color);
		text-decoration: none;
		border-radius: 12px;
		overflow: hidden;
	}

	a {
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		width: 220px;
		height: 220px;
		display: block;
	}

	span {
		display: block;
	}

  .name {
    font-weight: 600;
    margin-top: $unit;
  }

  .role {
    margin-bottom: $unit;
  }
}
