pre.anatomy code {
	display: block;
}

.anatomy-hover {
	cursor: help;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	position: relative;
	user-select: none;

	.anatomy-hint {
		display: flex;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		text-align: center;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: 1px solid rgba(255, 255, 255, 0.1);
		font-weight: bold;
		pointer-events: none;
		align-self: center;
		display: none;
		align-items: center;
		justify-content: center;
	}

	&.anatomy-block {
		display: block;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		.anatomy-hint {
			display: flex;
		}
	}
}

div.anatomy-hover {
	margin: 5px;
}
