@import "_variables";

section.blog {
	h1 {
		margin-bottom: $unit / 2;
	}

	.info {
		display: flex;
		flex-direction: row;
		color: var(--sub-text-color);
		margin-bottom: 1.5em;

		time {
			margin-left: auto;
		}
	}
}

div.tags {
	display: flex;
	justify-content: flex-end;
	margin-top: $unit * 2;
	align-items: center;
	color: var(--sub-text-color);

	> a.tag{
		margin-left: $unit / 2;
	}
}

div.tags-page {
	margin-top: $unit * 2;
	> a.tag{
		margin-right: $unit / 2;
	}
}

a.tag {
	background: var(--soft-border-color);
	padding: $unit / 4 $unit / 2;
	text-decoration: none;
	border-radius: 4px;

	&:hover {
		background: var(--logo-font-color);
		color: var(--container-color);
	}

	&:active {
		background: var(--primary-color);
		color: $gray-4;
	}
}
