@import "_variables";

section.blog {
	max-width: 800px;
	margin: 0 auto;

	h1 {
		margin-bottom: calc($unit / 2);
		text-align: center;
		border-bottom: none;
		font-size: 42px;
	}
}

.blog-info {
	display: flex;
	flex-direction: row;
	color: var(--sub-text-color);
	margin-bottom: 1.5em;
	line-height: 36px;

	img {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		margin-right: 8px;
		vertical-align: middle;
		background-color: white;
	}

	a {
		text-decoration: none;

		span {
			text-decoration: underline;
		}
	}

	time {
		margin-left: auto;
	}
}

div.tags {
	display: flex;
	justify-content: flex-end;
	margin-top: $unit * 2;
	align-items: center;
	color: var(--sub-text-color);

	> a.tag{
		margin-left: calc($unit / 2);
	}
}

div.tags-page {
	margin-top: calc($unit * 2);
	> a.tag{
		margin-right: calc($unit / 2);
	}
}

a.tag {
	background: var(--soft-border-color);
	padding: calc($unit / 4) calc($unit / 2);
	text-decoration: none;
	border-radius: 4px;

	&:hover {
		background: var(--logo-font-color);
		color: var(--container-color);
	}

	&:active {
		background: var(--primary-color);
		color: $gray-4;
	}
}

.blog-cover {
	margin: 0 -$unit * 2;
	margin-bottom: $unit;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}
