a.button {
  display: inline-block;
  text-decoration: none;
  @include button;

  svg {
    vertical-align: middle;
    margin-right: 6px;
  }

  &.vscode-button {
    background: rgba(36, 173, 243, 0.1);

    &:hover {
      background: rgba(36, 173, 243, 0.2);
    }
  }
}
