.color-scheme-switch-container {
  margin-top: auto;
  margin-bottom: 32px;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.color-scheme-switch {
  @include transition-timing;
  text-align: center;
  color: var(--background-color);
  background: var(--logo-font-color);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  width: 76px;
  height: 30px;
  padding: 8px;
  transition-property:opacity, background;
  border-radius: 96px;
  opacity: 0.5;
  z-index: 1;
  position: relative;
  @include mobile-only() {
    opacity: 1;
  }
}

.color-scheme-switch:hover {
  opacity: 1;
}

.color-scheme-switch:after{
  @include transition-timing;
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background: var(--primary-color);
  transition-property: left, transform, background;
  transform: translateX(0);
  border-radius: 96px 32px 32px 96px;
}

.color-scheme-switch:before{
  content: "";
  display: block;
  position: absolute;
  border-radius: 96px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: var(--background-color);
  z-index: -1;
}