.content {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $unit * 2 $unit * 4 $unit * 2;

  .header-anchor {
    display: none;
    text-decoration: none;
    color: $color-4;

    &:hover {
      text-decoration: underline;
    }
  }

  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor {
    display: inline-block;
  }

  pre {
    border-radius: $unit-border-radius;
  }
}

.content h1 {
  border-bottom: 1px solid var(--soft-border-color);
  padding-bottom: $unit;
  margin-top: $unit * 2;
}