.docs-body {
  .container {
    max-width: 100%;
  }

	.content, .docs-sidebar, .toc-sidebar {
		padding-top: 20px;
	}

	.content {
		max-width: 820px;
		padding: 20px;
	}

	footer {
		margin-top: 0;
	}
}

.docs-main {
	display: flex;
	flex-direction: row;
}

.docs-header {
	@include transition-timing;
	transition-property: box-shadow;

	background-color: var(--container-color);

	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background-color);
	border-bottom: 1px solid var(--hard-border-color);
	z-index: 2;

	height: 80px;
	line-height: 80px;
	padding: 0 16px;
	display: flex;
	align-items: center;

	@include desktop-only {
		box-shadow: inset 0 5px var(--top-border-color);
		padding-right: 40px;

		#docsearch {
			margin: 0 auto;
		}

		.DocSearch {
			width: 300px;
		}
	}

	@include mobile-only {
		height: 64px;
		line-height: 64px;
		background-color: var(--container-color);
	}

	.mobile-handle {
		margin-left: 16px;
	}

	svg {
		vertical-align: middle;
	}

	.link {
		margin-left: 16px;
		display: inline-block;
	}
	
	.logo {
		display: inline-flex;
		align-items: flex-end;
		text-decoration: none;

		@include mobile-only {
			width: 100%;
		}
	}
}

.sidebar {
	@include transition-timing;
	font-size: 0.95rem;
	position: sticky;
	top: 80px;
	bottom: 0;
	width: 300px;
	overflow: auto;
	height: 100vh;

	h2 {
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		font-family: inherit;
		color: var(--sub-text-color);
		margin-top: 12px;
		margin-bottom: 16px;
	}

	@include mobile-only {
		display: none;
		top: 64px;
	}
}

.docs-sidebar {
	left: 0;
	background-color: var(--container-color);
	border-right: 1px solid var(--hard-border-color);
	padding: 20px;

	@include mobile-only {
		position: fixed;
		right: 0;
		border-right: none;
		width: 100%;
		background-color: var(--background-color);

		&.mobile-active {
			display: block;
		}
	}

	.emoji {
		margin-right: 6px;
	}

	a {
		display: block;
		text-decoration: none;
		border-radius: 8px;
		padding: 6px 12px;
		margin-bottom: 6px;

		&.active {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		@include dark-mode {
			&.active {
				background-color: rgba(0, 0, 0, 0.2);
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	ul {
		padding-left: 16px;
	}

	> ul {
		padding-left: 0;
		margin-bottom: 30px;
	}
}

.toc-sidebar {
	right: 0;

	h2 {
		padding-left: 32px;
	}

	a {
		max-width: calc(100% - 16px);
		text-decoration: none;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			text-decoration: underline;
		}
	}
}

.toc {
	font-size: .95rem;
	padding-left: $unit;

	> ol > li {
		margin-bottom: calc($unit / 2);
	}

	ol li ol {
		font-size: .88rem;
	}

	> ol > li > a:not(:only-child)  {
		font-weight: bold;
	}

	li {
		padding-left: $unit;

		a {
			display: block;
			padding: 1.5px 0;
		}

		&.active > a {
			color: var(--toc-link-color-active);
			font-weight: bold;
		}
	}
}

.docs-index-button {
	@include button;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
  border-radius: 12px;
	position: relative;
	width: 300px;
	
	.heading, .description {
		display: block;
	}

	.emoji {
		margin-right: 10px;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 32px;
		opacity: 0.3;
		z-index: -1;
	}

	.heading {
		font-weight: bold;
		margin-bottom: 10px;
	}
}
