/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/fira-code-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/fira-code-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(inline-url('fonts/fira-code-v9-latin-regular.woff2')) format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v9-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-700 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/fira-code-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/fira-code-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(inline-url('fonts/fira-code-v9-latin-700.woff2')) format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v9-latin-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/libre-baskerville-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('fonts/libre-baskerville-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(inline-url('fonts/libre-baskerville-v7-latin-regular.woff2')) format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v7-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-italic - latin */
/* Disabled since we don't use italic anywhere
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/libre-baskerville-v7-latin-italic.eot'); * IE9 Compat Modes *
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('fonts/libre-baskerville-v7-latin-italic.eot?#iefix') format('embedded-opentype'), * IE6-IE8 *
       url('fonts/libre-baskerville-v7-latin-italic.woff2') format('woff2'), * Super Modern Browsers *
       url('fonts/libre-baskerville-v7-latin-italic.woff') format('woff'), * Modern Browsers *
       url('fonts/libre-baskerville-v7-latin-italic.ttf') format('truetype'), * Safari, Android, iOS *
       url('fonts/libre-baskerville-v7-latin-italic.svg#LibreBaskerville') format('svg'); * Legacy iOS *
}*/

/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/libre-baskerville-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('fonts/libre-baskerville-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(inline-url('fonts/libre-baskerville-v7-latin-700.woff2')) format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v7-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
