@import "_variables";
@import "_mixins";

footer {
	--pattern-color: #{$gray-3};
	--pattern-color-2: #{rgba(0, 0, 0, 0)};
	--pattern-img-path: var(--pattern-dark-img-path);
	--blockquote-color: #{$gray-7};
	--font-color: #{lighten(#27272A, 65%)};
	--soft-border-color: rgba(0, 0, 0, 0.2);
	--container-color: #{$gray-4};
	--link-hover-color: #{lighten(#27272A, 60%)};
	--logo-font-color: #{$gray-8};

	max-width: 100%;
	margin: 0 auto;
	margin-top: $unit;
	border-top: 1px solid var(--soft-border-color);

	nav {
		flex-grow: 1;
	}

	.scroll-to-top{
		a {
			display: block;
			margin: 14px 0;
		}
	}

	> .container{
		padding: $unit $unit * 2;
		@include mobile-only() {
			flex-direction: column;
		}
	}

	.footnote{
		background: $gray-3;
		margin: 0;
		padding: $unit $unit * 2;
		text-align: center;

		color: $gray-6;

		a{
			opacity: 0.6;
		}

		a:active, a:focus{
			opacity: 1;
		}

		.note{
			width: 100%;
			b{
				font-weight: bold;
			}

			@include mobile-only() {
				margin: $unit 0;
			}
		}

		.netlify-badge {
			margin-left: auto;
			a {
				opacity: 1;
			}
			@include mobile-only() {
				margin: auto;
			}
		}

		.container{
			height: 100%;
			align-items: center;
			padding: 0 $unit;
			@include mobile-only() {
				flex-direction: column;
			}
		}
	}

	@include pattern;

	.logo {
		text-decoration: none;
		font-size: 34px;
		display: flex;
		justify-content: center;
		margin: 0;

		svg {
			width: 170px;

			@include mobile-only() {
				width: 150px;
			}

			opacity: 0.7;

			.cls-1 {
				fill: var(--logo-font-color);
			}

			.cls-2{
				fill: var(--logo-font-color);
			}

		}

		@include mobile-only() {
			font-size: 32px;
			margin-bottom: 0;
		}
	}

	h2 {
		margin: $unit 0;
		font-size: 1em;
	}

	ul {
		padding-bottom: $unit;
	}

	a {
		text-decoration: none;
	}
}
