.footer {
  max-width: $container-width;
  margin: 0 auto;
  padding: $unit;
  border-top: 1px solid $gray-7;
  @include pattern-white;

  h4 {
    margin: $unit 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

}

.copyright {
  margin-top: $unit;
  display: block;
  text-align: center;
}