@mixin button-color($background, $border) {
	background-color: $background;
	border-color: $border;

	&:hover {
		background-color: $border;
	}

	&:active, &.active {
		background-color: darken($background, 10%);
		border-color: darken($border, 5%);
	}
}

.content {
	input[type=number].currency::before {
		content: "$";
		color: red;
	}

	a.button {
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}

	button, .button, input[type=submit], a.button {
		cursor: pointer;
		padding: 10px 20px;
		border-radius: 10px;
		font-weight: bold;
		font-size: 1rem;
		vertical-align: middle;
		color: darken($color-4, 5%);
		background-color: transparent;
		border: 2px solid darken($color-4, 5%);

		&:hover {
			color: #000;
			background-color: $color-4;
		}
	
		&:active, &.active {
			color: #000;
			background-color: darken($color-4, 5%);
			border-color: darken($color-4, 5%);
		}

		&.primary {
			color: #000;
			@include button-color($color-4, darken($color-4, 5%));
		}

		&.large {
			font-size: 1.5rem;
			padding: 10px 25px;
		}

		&:disabled {
			background-color: #eee !important;
			border-color: #ddd !important;
			cursor: not-allowed;
		}
	}

	textarea {
		min-height: 75px;
	}

	input[type=text], input[type=number], textarea, input[type=email] {
		border: 2px solid var(--soft-border-color);
		border-radius: 4px;
		padding: 5px 10px;
		background-color: var(--background-color);
		color: inherit;
		font-size: inherit;
		font-family: $body-font;

		&:required:placeholder-shown {
			border-color: var(--soft-border-color);
		}

		@include dark-mode {
			background-color: rgba(255, 255, 255, 0.1);
			border-color: rgba(255, 255, 255, 0.2);
		}

		&:focus {
			border-color: var(--primary-color);
			outline: none;
		}

		&::placeholder {
			font-weight: bold;
		}

		&:invalid {
			border-color: red;
		}
	}
}

ul.button-group {
	margin: 0;

	li {
		list-style: none;
		display: inline-block;
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.form-row {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;

	@include mobile-only {
		flex-direction: column;

		label {
			margin-bottom: 10px;
		}
	}

	.form-row-input {
		display: flex;
		flex-direction: column;
		width: 100%;
		flex-grow: 1;
	}

	label {
		font-weight: bold;
		flex-shrink: 0;
		margin-right: 10px;
		width: 200px;
	}

	.hint {
		cursor: help;
		margin-top: 5px;
	}
}


.currency-input {
	position: relative;

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		content: "$";
		width: 30px;
		text-align: center;
		color: inherit;
		font-weight: normal;
		font-family: $body-font;
	}

	> input {
		padding-left: 25px !important;
	}
}