.hero-funding {
	margin-top: 16px;
	border-top: 1px solid var(--soft-border-color);

	.short-text {
		display: none;
	}

	@media only screen and (max-width: 570px) {
		.long-text {
			display: none;
		}

		.short-text {
			display: block;
		}
	}


	@media only screen and (max-width: 450px) {
		text-align: center;

		.left, .right {
			display: none;
		}

		.short-text {
			width: 100%;
		}
	}
}

.funding {
	.blog-info {
		margin-top: 16px;
	}

	h1 {
		display: none;
	}

	h2[id="introduction"] {
		display: none;
	}

	.progress, .progress-fill {
		border-radius: 15px;
		position: relative;
	}

	.progress-text {
		margin: 0 10px;
		font-weight: bold;
		font-size: 18px;
	}

	.progress-fill .progress-text {
		color: #000;
	}

	.progress {
		display: flex;
		height: 30px;
		line-height: 30px;
		background-color: rgba(0, 0, 0, 0.2);
		text-align: right;
		overflow: hidden;
	}

	.progress-total {
		width: 100%;
	}

	.progress-fill {
		height: 100%;
		background-color: var(--primary-color);
		flex-shrink: 0;
		transition: width 2s ease-in-out;
	}

	.progress-loading {
		width: 100%;
		text-align: center;
		font-weight: bold;
	}

	.donate-bar {
		margin-top: 1.5em;
		display: flex;
		margin-bottom: 20px;

		.button {
			height: 48px;
		}

		@include mobile-only {
			display: block;

			.left {
				margin-bottom: 20px;
			}
		}

		.left, .right {
			display: flex;
			align-items: center;
		}

		.right {
			flex-shrink: 0;

			.button {
				margin-left: 5px;
	
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.left {
			width: 100%;

			p {
				margin: 0;
				margin-left: 10px;
				line-height: 26px;
			}
		}
	}
}

.modal-container {
	position: fixed;
	z-index: 999999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);

	&.collapsed {
		height: 180px;
		width: 180px;
		bottom: 20px;
		right: 20px;
		left: auto;
		top: auto;
		background: none;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid #000;
		border-radius: 4px;

		@include dark-mode {
			border-color: #fff;
		}

		&.collapsed-no-zoom {
			height: 60px;
			border: none;
			background-color: $color-4;
			border: 1px solid darken($color-4, 5%) !important;
			
			&:hover {
				background-color: darken($color-4, 5%);

				&::before {
					background: none;
				}
			}
		
			&:active, &.active {
				background-color: darken($color-4, 10%);
				border-color: darken($color-4, 15%);
			}

			&::before {
				line-height: 60px;
				background: none;
				color: #000;
			}

			.modal {
				display: none;
			}
		}

		&::before {
			position: absolute;
			content: "Continue Form";
			text-align: center;
			line-height: 180px;
			font-weight: bold;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 999;
			color: #fff;
		}

		&:not(.collapsed-no-zoom)::before {
			background-color: rgba(0, 0, 0, 0.4);
		}

		&:hover::before {
			background-color: rgba(0, 0, 0, 0.6);
		}
		
		.modal {
			max-width: 100%;
			width: 100%;
			zoom: 0.2;
			margin: 0;
			border: none;
			border-radius: 0;
		}
	}
}

.modal-inner {
	display: flex;
	justify-content: center;
}

.custom-input {
	display: flex;
	height: 44px;

	button {
		margin-left: 10px;
	}

	.currency-input {
		flex-grow: 1;

		input {
			width: 100%;
			height: 100%;
		}
	}
}

.add-donation-container {
	margin-top: 10px;

	input {
		width: 100%;
	}
}

.modal {
	background-color: var(--container-color);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: $unit * 1.5;
	padding-top: $unit * 3;
	margin: 20px;
	position: relative;
	max-width: 800px;

	@include mobile-only {
		max-width: 100%;
		margin: 0;
		border-radius: 0;
	}

	> h1 {
		margin-top: 0;
		padding-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.modal-close {
	font-weight: bold;
	position: absolute;
	right: $unit;
	top: $unit;
	cursor: pointer;

	&::before {
		content: "X";
	}
}

@mixin tier-button($percent) {
	background-color: rgba($color-4, $percent);
	border-color: rgba($color-4, $percent);
}

.funding-modal {
	.form-steps {
		margin-top: 0;
		margin-left: 0;
		list-style: decimal;
		counter-reset: form-steps-item;
		line-height: 24px;
	
		li {
			display: inline;
			counter-increment: form-steps-item;
			margin-right: 15px;
			opacity: 0.5;

			@media only screen and (max-width: 650px) {
				display: block;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				font-weight: bold;
				opacity: 1;
			}

			&.complete, &.active {
				&::before {
					background-color: var(--primary-color);
					color: #000;
				}
			}

			&::before {
				display: inline-block;
				font-weight: bold;
				font-size: 14px;
				content: counter(form-steps-item);
				border-radius: 50%;
				width: 24px;
				height: 24px;
				border: 2px solid var(--primary-color);
				text-align: center;
				margin-right: 10px;
			}
		}
	}

	.stripe-checkout {
		margin-top: 20px;
	}
}

.tier {
	position: relative;
	margin-bottom: 16px;
	padding: 20px;
	border-radius: 4px;
	font-weight: normal;
	background-color: var(--container-color);
	border: 1px solid var(--soft-border-color);

	&.clickable {
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;
		}
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	.columns {
		display: flex;
		align-items: baseline;

		> * {
			width: 50%;
		}

		@media only screen and (max-width: 650px) {
			display: block;
			
			> * {
				width: 100%;
			}
		}

		.previous {
			font-size: 0.9em;
		}
	}

	.header {
		display: flex;
		line-height: 30px;

		h4 {
			line-height: 30px;
			flex-shrink: 0;
		}

		.header-right {
			display: flex;
			flex-direction: column;
			width: 100%;
			text-align: right;
		}

		.price {
			font-size: 1.5em;
		}

		.already {
			line-height: 20px;
		}
	}

	h4 {
		font-family: "Libre Baskerville", serif;
		font-size: 1.5em;
		border-bottom: none;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		color: inherit;
	}

	.already {
		font-size: 0.9em;
		opacity: 0.8;
	}

	@include dark-mode {
		&.platinum, &.diamond, &.gold {
			color: #000;
		}
		
		&.copper {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
	
	&.copper {
		background-color: rgba(0, 0, 0, 0.05);
	}

	&.bronze {
		@include tier-button(0.2);
	}

	&.silver {
		@include tier-button(0.3);
	}

	&.gold {
		@include tier-button(0.5);
	}

	&.platinum {
		@include tier-button(0.7);
	}

	&.diamond {
		@include tier-button(1);
	}
}

.main > .toast {
	margin-top: 16px;
	margin-left: 16px;

	@include mobile-only {
		margin-right: 16px;
	}
}

.toast {
	border-radius: 4px;
	border: 1px solid var(--soft-border-color);
	background-color: var(--background-color);
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	font-weight: bold;

	&.error {
		background-color: rgba(adjust-hue($color-4, 300%), 0.3);
		border-color: rgba(adjust-hue($color-4, 300%), 0.5);
	}

	&.success {
		background-color: rgba(adjust-hue($color-4, 450%), 0.3);
		border-color: rgba(adjust-hue($color-4, 450%), 0.5);

		@include dark-mode {
			color: #fff;
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 10px;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

ul.recent-contributions {
	display: flex;
	margin: 0;
	text-align: center;

	&.rows {
		flex-direction: column;

		li {
			padding: 20px;
			border-right: none;
			border-bottom: 1px solid var(--hard-border-color);
		}
	}

	@include mobile-only {
		flex-direction: column;

		li {
			padding: 20px;
			border-right: none;
			border-bottom: 1px solid var(--hard-border-color);
		}
	}

	li {
		overflow: hidden;
		margin: 0;
		width: 100%;
		list-style: none;
		padding-right: 20px;
		padding-left: 20px;
		border-right: 1px solid var(--hard-border-color);
		display: flex;
		flex-direction: column;

		&:last-child {
			border-bottom: none;
			border-right: none;
			padding-bottom: 0;
		}
	}

	.details {
		line-height: 28px;
	}

	img {
		border-radius: 50%;
		height: 28px;
		width: 28px;
		margin-right: 10px;
		vertical-align: middle;
	}

	.name {
		font-size: 1.2em;
	}

	.amount {
		font-size: 1.2em;
	}

	.time {
		opacity: 0.8;
		font-size: 0.8em;
	}

	.quote {
		font-style: italic;
		padding: 10px;
		text-align: center;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before, &:after {
			font-size: 1.5em;
		}
	}
}