@import "_variables";
@import "_mixins";

*,
html {
	box-sizing: border-box;
}

html {
	background: var(--background-color);
}

html.transition {
	@include transition-timing;
	transition-property: background;
}

body {
	font-size: 16px;
	font-family: $body-font;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	color: var(--font-color);
	line-height: 1.5;
	margin: 0;

	@include desktop-only {
		@include inset-border-top;
	}
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	-moz-tab-size: 2;
	tab-size: 2;
	background-color: var(--inline-code-background-color);
	padding: 2px 5px;
	border-radius: 2px;
}

pre code {
	background: none;
	padding: 0;
}

h1 {
	font-size: 2em;
	line-height: $body-line-height / 2em;
}

h2 {
	font-size: 1.5em;
	line-height: $body-line-height / 1.5em;
}

h3 {
	font-size: 1.2em;
	line-height: $body-line-height / 1.2em;
}

h4, h5 {
	font-size: 1em;
	line-height: $body-line-height / 1em;
}

h1, h2{
	font-family: Libre Baskerville, serif;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--logo-font-color);
	font-weight: bold;
}

a {
	color: var(--logo-font-color);
}

a:hover {
	text-decoration: none;
	color: var(--link-hover-color);
}

a:active {
	color: var(--primary-color);
}

.no-scroll {
	overflow: hidden;
}

ul.breadcrumbs {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--soft-border-color);
	display: flex;
	margin: 0;
	padding: 0;

	@include mobile-only() {
		overflow-x: auto;
		overflow-y: hidden;
	}

	a {
		text-decoration: none;
		color: var(--font-color);

		&:hover {
			background: var(--breadcrumbs-background-hover);
			color: var(--font-color);
		}

		&:active{
			background: var(--breadcrumbs-background-active);
			color: var(--font-color);
		}

	}

	> li {
		padding: 0;
		position: relative;
		height: $breadcrumbs-height;

		/* Collapse breadcrumbs if we only have one item */
		&:only-child {
			display: none;
		}

		&:first-child a {
			padding-left: 32px;
		}

		> a {
			display: flex;
			padding-left: $unit * 2 + $unit / 2;
			padding-right: $unit / 2;
			line-height: $breadcrumbs-height;

			span{
				z-index: 2;
			}

			&:hover{
				&:after{
					background: var(--breadcrumbs-background-hover);
				}
			}

			&:active{
				&:after{
					background: var(--breadcrumbs-background-active);
				}
			}

			&:after{
				content: "";
				position: absolute;
				width: $breadcrumbs-height;
				height: $breadcrumbs-height;
				right: -23px;
				background: var(--background-color);
				transform: scale(0.7) rotate(45deg);
				box-shadow: 1px -1px var(--soft-border-color);
				z-index: 1;
			}

		}

		&:first-child.active {
			padding-left: $unit * 2;
		}

		&.active {
			font-weight: bold;
			padding-left: $unit * 2 + $unit / 2;
			padding-right: $unit;
			line-height: $breadcrumbs-height;
		}

		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}

	ul.sub-menu {
		display: none;
		position: absolute;
		top: $breadcrumbs-height;
		left: 0;
		background-color: var(--background-color);
		max-height: 400px;
		min-width: 100%;
		overflow: auto;
		border: 1px solid var(--soft-border-color);
		border-top: 0;
		box-shadow: 4px 4px 10.4px -6px var(--breadcrumbs-submenu-shadow-color);

		li {
			a {
				padding: $unit / 2 $unit;
				display: block;
			}

			border-bottom: 1px solid var(--soft-border-color);
		}
	}
}

.main {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;

	@include mobile-only() {
		margin-top: $unit * 4;
		margin-left: 0;
		width: 100%;
	}
}

.skip-to-content a {
	@include transition-timing;
	transition-property: top;
	position: absolute;
	right: 0;
	top: -40px;
	padding: $unit / 2 $unit;
	z-index: 100;
	background: var(--logo-font-color);
	color: var(--container-color);
	font-weight: bold;
}

.skip-to-content a:focus{
	position: absolute;
	right: 0;
	top: 0;
	padding: $unit;
	z-index: 100;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border-width: 0 !important;
}

.not-sr-only {
	position: static !important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
	clip: auto !important;
	white-space: normal !important;
}

.icon {
	.path-1, .path-2 {
		fill: var(--logo-font-color);
	}

	.path-2 {
		opacity: 0.7;
	}

	&:active{
		.path-1, .path-2{
			fill: var(--primary-color);
		}
	}
}

pre[class*=language-] {
	@include mobile-only() {
		border-radius: 0 !important;
		margin-left: -32px;
		margin-right: -32px;
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}
