*,
html {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  line-height: 1.65;
  background-color: #ffffff;
}

body {
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Libre Baskerville, serif;
}

a {
  color: inherit;
}