@import "_variables";
@import "_mixins";

*,
html {
	box-sizing: border-box;
}

html {
	background: var(--background-color);
}

html.transition {
	@include transition-timing;
	transition-property: background;
}

[hidden] {
	display: none !important;
}

body {
	font-size: 16px;
	font-family: $body-font;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	color: var(--font-color);
	line-height: 1.5;
	margin: 0;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	-moz-tab-size: 2;
	tab-size: 2;
	background-color: var(--inline-code-background-color);
	padding: 2px 5px;
	border-radius: 2px;
}

pre code {
	background: none;
	padding: 0;
}

h1 {
	font-size: 2em;
	line-height: calc($body-line-height / 2em);
}

h2 {
	font-size: 1.5em;
	line-height: calc($body-line-height / 1.5em);
}

h3 {
	font-size: 1.2em;
	line-height: calc($body-line-height / 1.2em);
}

h4, h5 {
	font-size: 1em;
	line-height: calc($body-line-height / 1em);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--logo-font-color);
	font-weight: bold;
}

a, .link {
	color: var(--logo-font-color);
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		color: var(--link-hover-color);
	}

	&:active {
		color: var(--primary-color);
	}
}

.no-scroll {
	overflow: hidden;
}

.main {
	width: 100%;
	margin-top: 5px;
	overflow: hidden;

	@include mobile-only() {
		margin-top: $unit * 4;
		margin-left: 0;
		width: 100%;
	}
}

.skip-to-content a {
	@include transition-timing;
	transition-property: top;
	position: absolute;
	right: 0;
	top: -40px;
	padding: calc($unit / 2) $unit;
	z-index: 100;
	background: var(--logo-font-color);
	color: var(--container-color);
	font-weight: bold;
}

.skip-to-content a:focus{
	position: absolute;
	right: 0;
	top: 0;
	padding: $unit;
	z-index: 100;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border-width: 0 !important;
}

.not-sr-only {
	position: static !important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
	clip: auto !important;
	white-space: normal !important;
}

.icon {
	.path-1, .path-2 {
		fill: var(--logo-font-color);
	}

	.path-2 {
		opacity: 0.7;
	}

	&:active{
		.path-1, .path-2{
			fill: var(--primary-color);
		}
	}
}

pre[class*=language-] {
	@include mobile-only() {
		border-radius: 0 !important;
		margin-left: -32px;
		margin-right: -32px;
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}
