.row {
  display: flex;
  padding: 0 $unit / 2;

  > div {
    padding: 0 $unit / 2;
    flex: 1;
  }

  @include mobile-only() {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 256px;
  max-width: 1587px;
  margin: auto;

  @media only screen and (max-width: 1587px) {
    padding: 0;
    max-width: 1075px;
  }

  &.has-right-sidebar {
    padding-right: 0;
  }
}
