@import "_variables";
@import "_mixins";

.row {
	display: flex;
	padding: 0 calc($unit / 2);

	> div {
		padding: 0 calc($unit / 2);
		flex: 1;
	}

	@include mobile-only() {
		display: block;
	}
}

.container {
	display: flex;
	flex-direction: row;
	margin: auto;
	max-width: 1240px;
	padding: 0 20px;
}
