.header {
  z-index: 2;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 320px;

  .stretch {
    flex-grow: 1;
  }

  @include desktop-only() {
    border-right: 1px solid #eaeaea;
  }

  @include mobile-only() {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
}

.logo {
  display: inline-flex;
  align-items: flex-end;
  text-decoration: none;
  font-size: 32px;

  img {
    width: 1em;
    margin-right: 12px;
  }

  .logo-text {
    line-height: 1em;
    font-size: 1em;
    font-family: Libre Baskerville, serif;
    position: relative;
    top: 4px;
  }
}

.mobile-handle {
  height: 32px;
  display: none;

  @include mobile-only() {
    display: inline-block;
  }
}