// using a different element for desktop header and mobile header
// so i can align the elements in the middle of the page

.header-mobile {
  z-index: 2;
  background-color: #ffffff;
  height: $unit * 4;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  padding: 0 $unit;
  width: $sidebar-width;

  .stretch {
    flex-grow: 1;
  }

  @include mobile-only() {
    width: 100%;
    border-bottom: 1px solid $gray-color;
    display: flex;
  }
}

.header-desktop{
  z-index: 2;
  background-color: #ffffff;
  height: $unit * 4;
  display: flex;
  align-items: center;
  padding: 0 $unit;
  width: $sidebar-width;
  @include mobile-only() {
    display: none;
  }
}

.logo {
  display: inline-flex;
  align-items: flex-end;
  text-decoration: none;
  font-size: 32px;

  img {
    width: 1em;
    margin-right: $unit / 2;
  }

  .logo-text {
    line-height: 1em;
    font-size: 1em;
    font-family: Libre Baskerville, serif;
    position: relative;
    top: 4px;
  }
}

.mobile-handle {
  height: 32px;
  display: none;

  @include mobile-only() {
    display: inline-block;
  }
}