.hero {
  position: relative;
  padding: $unit * 2;
  border-bottom: 1px solid var(--soft-border-color);
  @include pattern-white;

  @include mobile-only() {
    text-align: center;
  }

  h1, h2 {
    line-height: 1.5em;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

ul.home-actions {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  font-size: 1.4em;
  margin: $unit * 2 0;
  border-radius: 5px;
  text-align: center;
  justify-items: center;

  @media only screen and (max-width: 1060px) {
    flex-direction: column;
  }

  svg{
    width: 40px;
    height: 40px;
  }

  a.getting-started{
    border: var(--logo-font-color) 4px solid;
    border-radius: 60px;
    padding: 12px 32px;
    padding-top: 6px;
    perspective: inherit;
    position: relative;
    color: #27272A;
    text-decoration: none;
    display: inline;

    &:hover{
      background: var(--logo-font-color);
      color: var(--background-color);
    }
  }

  a.getting-started:before{
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 60px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: var(--primary-color);

  }

  //align text to icon
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  svg{
    margin-right: 16px;
  }

  svg{
    margin-right: 16px;
  }

  &:last-child{

    margin-bottom: 0;

  }

  li {
    padding: 10px;
    flex: 1;
    text-align: center;
    list-style: none;
    border-right: 1px solid var(--soft-border-color);
    white-space: nowrap;

    @media only screen and (max-width: 1060px) {
      border-right: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.image-horizontal-overflow {
  overflow-x:auto;
}
.image-scroll{
  display: inline;
  white-space: nowrap;
}

