@import "_variables";
@import "_mixins";

.hero {
	padding: $unit * 2;
	border-right: 1px solid var(--soft-border-color);
	border-left: 1px solid var(--soft-border-color);
	display: flex;
	margin-left: $unit;
  flex-direction: column;
  justify-content: center;
	color: black;
	text-align: center;

	.text {
		flex-shrink: 0;
	}

	h1 > div {
		display: flex;
		align-items: center;
	}

	.left, .right {
		border-bottom: 3px solid var(--sub-text-color);

		width: 100%;
		opacity: 0.5;
	}

	.left {
		margin-right: 32px;
	}

	.right {
		margin-left: 32px;
	}

	@include pattern;

	@media only screen and (min-width: 970px) {
		height: 127px + 48px;
	}

	@include mobile-only() {
		padding: $unit * 2 $unit;
		border: 0;
		margin: 0;
	}

	h1, h2 {
		line-height: 1.5em;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-family: $body-font;
		color: var(--sub-text-color);
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.hero + #main-content section:first-of-type{
	margin-top: 0;
}

.homepage h1 {
	display: none;
}

ul.home-actions {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: stretch;
	font-size: 1.4em;
	margin: $unit * 2 0;
	border-radius: 5px;
	text-align: center;
	justify-items: center;

	li {
		list-style: none;
	}

	@include small-screen-only {
		flex-direction: column;
	}

	svg {
		width: 40px;
		height: 40px;
	}

	// Align text to icon
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
	}

	svg {
		margin-right: 16px;
	}

	&:last-child{
		margin-bottom: 0;
	}

	li {
		padding: 10px 20px;
		flex: 1;
		text-align: center;
		border-right: 1px solid var(--soft-border-color);
		white-space: nowrap;

		@include small-screen-only {
			border-right: none;
		}

		&:last-child {
			border-right: none;
		}
	}
}

@include dark-mode {
	a.getting-started {
		opacity: 0.9;
	}
}

pre.collapsable {
	position: relative;
	transition: all 200ms ease-in-out;

	.expand {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-weight: bold;
		line-height: 40px;
		color: #fff;
		font-family: inherit;
		font-size: 1rem;
		border: none;
		width: 100%;
	}

	&.collapsed {
		height: 250px;
		overflow: hidden;
		box-shadow: inset 0 -10px 50px rgba(0, 0, 0, 0.2);
		cursor: pointer;

		.expand {
			display: block;
			background: rgba($gray-4, 0.8);
			border-top: 1px solid rgba($gray-3, 0.6);
		}
	}

	code {
		line-height: 0;
	}
}

.new-hero {
	margin-top: $unit;
	margin-left: $unit;
	border: 1px solid var(--soft-border-color);
	@include pattern;
	position: relative;

	@include mobile-only() {
		margin-left: 0;
		border-left: none;

		&::before {
			display: none;
		}
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: inset 0 30px 30px -30px var(--container-color), inset 0 -30px 30px -30px var(--container-color);
		z-index: 999;
	}
	
	em {
		font-family: "Libre Baskerville", serif;
		font-weight: bold;
	}

	.desktop-scrollers {
		display: none;
		flex-direction: row;
		
		@include large-screen-only {
			display: flex;
		}
	}

	.mobile-scroller {
		display: none;
		text-align: center;

		@include small-screen-only {
			display: block;
		}

		&.scroller ul li .text {
			font-size: 1em;
			transition: none;
		}
	}

	.heading {
		justify-content: center;
		font-size: 2.2em;
		display: flex;
		flex-direction: row;
		line-height: 50px;
		height: 150px;
		align-items: center;

		> span, .scroller {
			flex-grow: 0;
			margin: 0 8px;
		}

		@include small-screen-only {
			flex-direction: column;
			height: 150px;
			
			.scroller {
				height: 50px;

				&:first-child {
					text-align: right;
				}

				ul {
					padding: 0;
				}
			}
		}
	}
}

.scroller {
	overflow: hidden;
	align-items: top;
	font-weight: bold;
	height: 150px;
	
	ul {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		padding: 50px 0;
		position: relative;
		transition: all 500ms ease-in-out;
	
		&.reverse {
			flex-direction: column-reverse;
		}

		.typescript {
			color: #007acc;
		}

		.javascript {
			color: #f0db4f;
		}

		.html {
			color: #e34c26;
		}

		.css {
			color: #2965f1;
		}
	
		li {
			opacity: 0.2;
			transition: all 500ms ease-in-out;
			position: relative;
			width: 100%;

			.text {
				transition: all 500ms ease-in-out;
				font-size: 0.8em;
				position: absolute;
				left: 0;
				right: 0;
			}

			.big-text {
				visibility: hidden;
			}

			&.active-sibling  {
				opacity: 0.5;

				.text {
					font-size: 0.9em;
				}
			}
	
			&.active {
				opacity: 1;

				.text {
					font-size: 1em;
				}
			}
		}
	}
}

.latest-post {
	border-bottom: 1px solid var(--soft-border-color);
	padding: $unit $unit;
	margin-left: $unit;
	display: flex;
	justify-content: center;
	flex-direction: column;

	@include mobile-only() {
		margin-left: 0;
	}

	h2 {
		margin-bottom: 0.83em;
	}

	@include desktop-only() {
		min-height: 32px + 64px;
	}

	div.info {
		@include desktop-only {
			display: flex;
			align-items: center;
		}

		@include mobile-only {
			h3, .author {
				display: inline;
			}
		}

		.author {
			margin-left: auto;
			color: var(--sub-text-color);
		}
	}

	h2 {
		text-transform: uppercase;
		font-size: .8em;
		font-weight: bold;
		font-family: inherit;
		color: var(--sub-text-color);
		margin-top: 0;
	}

	h3 {
		font-size: 1em;
		margin: 0;
	}
}
