@import "_variables";
@import "_mixins";

.sidebar-container {
	display: flex;
	flex-direction: column;
	position: sticky;
	z-index: 2;
	top: 0;

	@include desktop-only() {
		height: 100vh;
	}
}

.sidebar {
	@include transition-timing;
	font-size: 0.95rem;
	transition-property: transform;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	@include desktop-only() {
		border-top-width: 0;
		transition-duration: 150ms;
		height: calc(100% - 5px);
		margin-top: 0;
		width: 280px;
	}

	@include mobile-only() {
		transform: translateX(-100%);
		position: fixed;
		padding-top: 64px;
		background: var(--container-color);
		height: 100%;
		-webkit-overflow-scrolling: touch;

		&.visible {
			transform: translateX(0);
		}
	}

	h2 {
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		font-family: inherit;
		color: var(--sub-text-color);
		padding-left: 32px;
		margin: 0.83em 0;
	}

	a {
		max-width: calc(100% - 16px);
		text-decoration: none;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			text-decoration: underline;
		}
	}

	.menu {
		padding: $unit 0;
	}

	.site-navigation {
		padding-bottom: 0;
	}

	.sidebar-scroller {
		overflow: auto;
		height: 100%;
	}
}

.toc {
	font-size: .95rem;
	padding-left: $unit;

	> ol > li {
		margin-bottom: calc($unit / 2);
	}

	ol li ol {
		font-size: .88rem;
	}

	> ol > li > a:not(:only-child)  {
		font-weight: bold;
	}

	li {
		padding-left: $unit;

		a {
			display: block;
			padding: 1.5px 0;
		}

		&.active > a {
			color: var(--toc-link-color-active);
			font-weight: bold;
		}
	}
}

// Better look on mobile
// Solution from https://github.com/algolia/docsearch/issues/181
.algolia-autocomplete {
	@include mobile-only() {
		.ds-dropdown-menu {
			max-width: calc(100vw - 32px) !important;
			min-width: calc(100vw - 32px) !important;
			width: calc(100vw - 32px) !important;
			margin-left: 16px !important;
		}
		.algolia-docsearch-suggestion--content {
			width: 100% !important;
			padding-left: 0 !important;
		}
		.algolia-docsearch-suggestion--content:before	{
			display: none !important;
		}
		.algolia-docsearch-suggestion--subcategory-column {
			display: none !important;
		}
	}
}

.algolia-autocomplete, input#docsearch {
	width: 100%;
	display: block;
}

.ds-dropdown-menu{
	left: $unit * 2 !important;
}

.docsearch-container {
	position: relative;

	.docsearch-label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.search.icon {
		z-index: 99999;
		position: absolute;
		left: 20px;
		top: 17px;
		height: 15px;
		width: 15px;
		pointer-events: none;
	}

	input.docsearch {
		padding: 24px 32px;
		padding-left: 42px;
		border: 0;
		height: $unit * 2;
		background: var(--search-input-background-color);
		box-shadow: inset 0px 1px 2px 0px var(--search-input-background-color);
		font-size: 1.1em;
		color: inherit;
		width: 100%;

		&::placeholder {
			color: inherit;
			opacity: 1;
		}

		// Yellow outline on desktop focus
		@include desktop-only() {
			&:focus {
				outline: 2px solid var(--primary-color);
			}
		}

		// Yellow inset box shadow on mobile focus
		@include mobile-only() {
			&:focus {
				box-shadow: inset 2px 2px var(--primary-color), inset -2px -2px var(--primary-color);
			}
		}
	}
}
