.sidebar-container {
	display: flex;
	flex-direction: column;
	position: sticky;
	z-index: 2;
	top: 0;

	@include desktop-only() {
		height: 100vh;
	}
}

.sidebar-stripe {
	display: flex;
	flex-shrink: 0;
	@include inset-border-top;
	height: 5px;
	width: 100%;
}

.sidebar {
	@include transition-timing;
	font-size: 0.95rem;
	transition-property: transform;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-right: 1px solid var(--soft-border-color);
	border-left: 1px solid var(--soft-border-color);
	background-color: var(--container-color);

	@include desktop-only() {
		border-top-width: 0;
		transition-duration: 150ms;

		margin-top: 0;
		min-width: 256px;
	}

	@include mobile-only() {
		transform: translateX(-100%);
		position: fixed;
		padding-top: 59px;
		background: var(--container-color);
		height: 100%;
		-webkit-overflow-scrolling: touch;

		&.visible {
			transform: translateX(0);
		}
	}

	h2 {
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		font-family: inherit;
		color: var(--sub-text-color);
		padding-left: 32px;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.menu {
		padding: $unit 0;
	}

	.toc-menu {
		height: 100%;
		overflow: auto;
	}

	.sidebar-top {
		background-color: var(--container-color);
		position: sticky;
		top: 0;
		z-index: 3;
	}

	.sidebar-bottom {
		position: sticky;
		bottom: 0;
	}
}

.toc {
	font-size: .95rem;
	padding-left: 16px;

	> ol > li {
		margin-bottom: 8px;
	}

	li {
		padding-left: 16px;

		a {
			display: block;
		}

		&.active > a {
			font-weight: bold;
		}
	}
}

.site-navigation-container {
	overflow: hidden;
	flex-shrink: 0;
	border-bottom: 1px solid var(--soft-border-color);
}

.site-navigation {
	font-weight: bold;

	a {
		height: auto;
		padding: $unit / 5 $unit / 2;
		display: inline-block;
		padding-left: 32px;
		margin-left: 0;
		width: 100%;
		font-size: 1.1em;
		padding-left: 32px;
		@include transition-timing;
		transition-duration: 100ms;
		transition-property: padding-left;

		&:hover {
			background: rgba(0, 0, 0, .05);
			color: var(--font-color);
		}

		&:active {
			color: var(--primary-color);
		}

		@include mobile-only() {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}

// Better look on mobile
// Solution from https://github.com/algolia/docsearch/issues/181
.algolia-autocomplete {
	@include mobile-only() {
		.ds-dropdown-menu {
			max-width: calc(100vw - 32px) !important;
			min-width: calc(100vw - 32px) !important;
			width: calc(100vw - 32px) !important;
			margin-left: 16px !important;
		}
		.algolia-docsearch-suggestion--content {
			width: 100% !important;
			padding-left: 0 !important;
		}
		.algolia-docsearch-suggestion--content:before	{
			display: none !important;
		}
		.algolia-docsearch-suggestion--subcategory-column {
			display: none !important;
		}
	}
}

.algolia-autocomplete, input#docsearch {
	width: 100%;
	display: block;
}

.ds-dropdown-menu{
	left: $unit * 2 !important;
}

.docsearch-container {
	position: relative;
	border-bottom: 1px solid var(--soft-border-color);

	.search.icon {
		z-index: 99999;
		position: absolute;
		left: 20px;
		top: 17px;
		height: 15px;
		width: 15px;
		pointer-events: none;
	}

	input.docsearch {
		padding: 24px 32px;
		padding-left: 42px;
		border: 0;
		height: $unit * 2;
		background: rgba(0, 0, 0, 0.05);
		font-size: 1.1em;
		color: inherit;
		width: 100%;

		&::placeholder {
			color: inherit;
			opacity: 1;
		}

		// Yellow outline on desktop focus
		@include desktop-only() {
			&:focus {
				outline: 2px solid var(--primary-color);
			}
		}

		// Yellow inset box shadow on mobile focus
		@include mobile-only() {
			&:focus {
				box-shadow: inset 2px 2px var(--primary-color), inset -2px -2px var(--primary-color);
			}
		}
	}
}

html[data-theme='dark'] .color-scheme-switch{
	&:after {
		left: 50%;
		margin-right: 5px;
		transform: translateX(100%);
		border-radius: 32px 96px 96px 32px;
	}

	.selector {
		left: 33px;
	}
}


.color-scheme-switch-container {
	padding: 18px 0;
	height: 66px;
	flex-shrink: 0;
	align-items: center;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--soft-border-color);
}

.color-scheme-switch {
	position: relative;
	width: 60px;
	height: 30px;
	line-height: 16px;
	background-color: var(--color-scheme-switcher-color);
	border-radius: 15px;
	flex-shrink: 0;
	cursor: pointer;
	display: flex;

	svg {
		pointer-events: none;
		user-select: none;

		&.sun {
			color: $color-6;
			margin: 4px 0;
			margin-left: 2px;
			width: 22px;
			height: 22px;
		}

		&.moon {
			width: 16px;
			height: 16px;
			color: white;
			margin: 7px;
		}
	}

	.selector {
		@include transition-timing;
		transition-property: left;
		background-color: #fff;
		position: absolute;
		left: 3px;
		top: 3px;
		bottom: 0;
		border-radius: 50%;
		width: 24px;
		height: 24px;
	}
}
