.table-of-contents {
  background-color: #ffffff;

  a {
    text-decoration: none;
    height: auto;
    padding: 3px 9px;
    border-radius: 4px;
    display: inline-block;
  }

  li {
    list-style-type: none;
  }

  .is-active-link {
    color: rgb(255, 201, 5);
    background-color: rgba(0, 0, 0, 0.05);
  }
}