@import "_variables";
@import "_mixins";

.table-of-contents {
	margin-left: $unit;
	margin-top: $unit;

	ol {
		margin: 0;
		padding: 0;
		background: #000;

		> li{
			margin-bottom: $unit;

		}

		ol {
			margin-left: $unit;
		}
	}

	a {
		text-decoration: none;
		height: auto;
		padding: 3.2px 8px;
		margin-left: $unit / 2;
		border-radius: 2px;
		display: inline-block;
		@include transition-timing;
		transition-property: background-color;
		transition-duration: 100ms;
		font-weight: normal;

		&:hover{
			text-decoration: underline;
		}

		&.active {
			color: var(--toc-link-color-active);
			font-weight: bold;
		}
	}

	li {
		list-style-type: none;
	}
}
