ul.team-list {
	text-align: center;
	margin: 0;
	margin-top: 32px;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;

	li {
		border: 1px solid var(--soft-border-color);
		margin: 0 $unit;
		margin-bottom: $unit;
		padding-bottom: $unit;
		width: 176px;
		list-style: none;
	}

	img {
		width: 176px;
		height: 176px;
	}

	p {
		margin: 0;
		padding-top: $unit - 10;
	}
}
