@import "_variables";

ul.team-list {
	text-align: center;
	margin: 0;
	margin-top: 32px;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;

	&.credits {
		li {
			width: 130px;
			margin: 0;
			margin: $unit / 4;

			img {
				width: 128px;
				height: 128px;
			}

			span {
				margin: $unit / 2 0;
			}
		}
	}

	li {
		margin: 0 $unit;
		margin-bottom: $unit;
		width: 176px;
		list-style: none;
		border: 1px solid var(--soft-border-color);
	}

	a {
		display: block;
	}

	img {
		width: 174px;
		height: 174px;
		display: block;
	}

	span {
		display: block;
		margin: $unit 0;
	}
}
