$color-1: #E18403;
$color-2: #ED9F03;
$color-3: #F7B604;
$color-4: #FFC905; //logo color
$color-5: #FFDC1C;
$color-6: #FFF065;
$color-7: #FFFCB4;

$gray-1: darken(#27272A, 15%);
$gray-2: darken(#27272A, 10%);
$gray-3: darken(#27272A, 3%);
$gray-4: #27272A; //logo gray
$gray-5: lighten(#27272A, 25%);
$gray-6: lighten(#27272A, 45%);
$gray-7: lighten(#27272A, 70%);
$gray-8: lighten(#27272A, 80%);

$body-font: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-line-height: 1.5em;

$unit: 16px;
$unit-border-radius: 4px;

$mobile-breakpoint: 768px;
