$text-color: rgb(28, 30, 33);
$primary-color: rgb(255, 201, 5);
$gray-color: rgba(0, 0, 0, 0.05);

$sidebar-width: 20%;
$container-width: 100%;

$unit: 16px;
$unit-border-radius: 4px;

$mobile-breakpoint: 768px;