$color-1: #E18403;
$color-2: #ED9F03;
$color-3: #F7B604;
$color-4: #FFC905; //logo color
$color-5: #FFDC1C;
$color-6: #FFF065;
$color-7: #FFFCB4;

$gray-1: #030303;
$gray-2: #040404;
$gray-3: #101111;
$gray-4: #27272A; //logo gray
$gray-5: #565A59;
$gray-6: #9B9D99;
$gray-7: #E8E8E8;


$sidebar-width: 20%;
$container-width: 100%;

$unit: 16px;
$unit-border-radius: 4px;

$mobile-breakpoint: 768px;