@import "_variables";
@import "_mixins";
@import "_grid";
@import "_global";
@import "_header";
@import "_table-of-contents";
@import "_content";
@import "_hero";
@import "_footer";

.no-scroll {
  overflow: hidden;
}

.sidebar {
  @include transition-timing;
  width: $sidebar-width;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.95rem;
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 1px solid var(--soft-border-color);
  transition-property: transform, border-top-width, border-right;
  z-index: 2;
  min-width: 256px;
  display: flex;
  flex-direction: column;

  @include desktop-only() {
    @include top-border;
    border-top-width: 0;
    transition-duration: 150ms;
    padding-top: $unit * 2;
  }

  @include mobile-only() {
    transform: translateX(-100%);
    position: fixed;
    min-width: 256px;
    padding-top: 64px + $unit;
    background: var(--background-color);
    height: 100%;
    -webkit-overflow-scrolling: touch;

    &.visible {
      transform: translateX(0);
    }
  }
}

.overlay{
  display: none;

  @include mobile-only() {
    @include transition-timing;
    position: fixed;
    background: #181818;
    opacity: 0;
    transition-property: opacity;
    display: block;
    z-index: 1;
    &.visible {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
    }
  }
}

.main {
  overflow: hidden;
  width: 80%;

  @include mobile-only() {
    margin-top: $unit * 4;
    margin-left: 0;
    width: 100%;
  }
}

.menu {
  padding-bottom: $unit;
  border-bottom: 1px solid var(--soft-border-color);
  margin-bottom: $unit;
  font-weight: bold;
  margin-left: $unit;
  // display: none;
  @include transition-timing;
  transition-property: border-bottom;

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    list-style-type: none;
  }

  a{
    @include transition-timing;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 100ms;
    transition-property: color;
    height: auto;
    padding: $unit / 5 $unit / 2;
    margin-left: $unit / 2;
    display: inline-block;
    color: var(--logo-font-color);
  }

  a:hover{
    padding-left: $unit / 1.5;
    text-decoration: dashed;
    opacity: 0.7;
  }

  a:active{
    padding-left: $unit / 1.5;
    text-decoration: dashed;
    opacity: 0.6;
  }

}

.mode-switch{
  text-align: center;
  color: var(--background-color);
  background: var(--font-color);
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  margin: auto $unit * 2 $unit $unit * 2;
  font-weight: bold;
}

.mode-switch-container{
  margin-top: $unit;
  height: 100%;
  display: flex;
  width: 100%;
}
