@import "_mixins";
@import "_global";
@import "_header";
@import "_table-of-contents";
@import "_content";
@import "_hero";

.sidebar {
  z-index: 1;
  width: 320px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.9rem;
  position: fixed;
  padding: 12px;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 320px;
  border-right: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: transform 250ms ease-in;

  @include mobile-only() {
    transform: translateX(-100%);

    &.visible {
      transform: translateX(0);
    }
  }
}

.main {
  margin-left: 320px;
  overflow: hidden;

  @include mobile-only() {
    margin-top: 64px;
    margin-left: 0;
  }
}