@import "_variables";
@import "_mixins";

// Force open homepage example
pre.collapsable {
	height: auto !important;
	overflow: auto !important;
	box-shadow: none !important;
	cursor: initial !important;

	.expand {
		display: block;
	}
}

.color-scheme-switch-container {
	display: none;
}
