@import "_variables";
@import "_mixins";

// If JS is disabled then we just force prefers-color-scheme
@media (prefers-color-scheme: dark) {
	:root {
		@include dark-root;
	}
}

// Force open homepage example
.homepage-example {
	height: auto !important;
	overflow: auto !important;
	box-shadow: none !important;
	cursor: initial !important;

	.expand {
		display: block;
	}
}
