@import "_variables";
@import "_mixins";

body {
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: none;
}

#root {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}

html, body {
  width: 100%;
  height: 100%;
}

.code-pane, .preview-pane, .settings-pane {
  height: 100%;
}

.code-pane, .preview-pane {
  width: 100%;
  min-width: 0;
}

.settings-pane {
  width: 250px;
  flex-shrink: 0;
  background-color: var(--container-color);
  box-shadow: inset -1px 0 0 var(--hard-border-color);
  overflow: auto;
  font-size: 14px;

  @include dark-mode {
    background-color: rgba(255, 255, 255, 0.2);
  }

  section {
    padding: 10px;
  }

  input[type=checkbox] {
    margin-right: 10px;
  }

  select, input[type=number] {
    width: 100px;
  }

  select, input[type=number], .input-container {
    margin-left: auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  input[type=text], input[type=number] {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 10px;

    @include dark-mode {
      color: inherit;
      background-color: rgba(255, 255, 255, 0.3);
      border-color: rgba(0, 0, 0, 0.5);
    }
  }

  select {
    @include button;
    border-radius: 6px;
    padding: 2px 6px;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);

    @include dark-mode {
      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  .button-group {
    button {
      @include button;
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 2px 6px;
      color: inherit;

      @include dark-mode {
        border-color: rgba(255, 255, 255, 0.1);
      }

      &:disabled {
        opacity: 0.5;
        font-weight: bold;

        &:not(:last-child) {
          border-right: none;
        }
      }

      &:not(:first-child):not(&:disabled + button) {
        border-left: none;
      }

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  .field-row {
    display: flex;
    line-height: 25px;
    margin-bottom: 10px;

    &.disabled {
      opacity: 0.4;
      
      &, * {
        cursor: not-allowed;
      }
    }
  }
}

.react-tabs__tab-panel .settings-pane {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-top: 1px solid var(--hard-border-color);
}

.preview-pane {
  border-left: 1px solid var(--hard-border-color);
  display: flex;
  flex-direction: column;
}

.mermaid {
  border-top: 1px solid var(--hard-border-color);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.playground-body {
  .docs-sidebar {
    display: none;

    &.mobile-active {
			display: block;
		}
  }
}

#root h2 {
  padding: 10px;
  display: flex;
  line-height: 18px;
  font-size: inherit;
  font-weight: normal;
  box-shadow: inset 0 1px 0 var(--hard-border-color), inset 0 -1px 0 var(--hard-border-color);
  background-color: rgba(255, 255, 255, 0.15);

  &.rome {
    background-color: rgba($color-4, 30%);
  }

  &.prettier {
    background-color: rgba(#355F75, 40%);
  }

  img {
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin-right: 10px;
  }

  &.collapsible {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.collapsed {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: none;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.react-tabs__tab-panel  {
  display: none;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;

  > pre[class*=language-] {
    margin: 0;
    height: 100%;
    background-color: #282c34 !important;
  }

  > iframe {
    height: 100%;
  }
}

.collapsible-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50%;

  &.collapsed {
    height: auto;
  }
}

.diff-hint {
  margin-left: auto;

  .insertions {
    color: green;
  }

  .deletions {
    color: red;
  }
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cm-theme-light, .cm-theme-dark {
  height: 100%;
  overflow: auto;
}

.cm-editor {
  height: 100%;
}

.cm-focused {
  outline: none !important;
}

.empty-panel {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: auto;
  line-height: 40px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--container-color);

  @include dark-mode {
    background-color: rgba(255, 255, 255, 0.2);
  }

  li {
    padding: 0 10px;
    border-right: 1px solid var(--hard-border-color);

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.react-tabs__tab--selected {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.05);
}

.react-tabs__tab-panel--selected {
  display: flex;
}
