[package]
authors.workspace    = true
description          = "SyntaxKind and common rowan definitions for rome_js_parser"
documentation        = "https://docs.rs/rome_js_syntax"
edition.workspace    = true
license.workspace    = true
name                 = "rome_js_syntax"
repository.workspace = true
version              = "0.2.0"

[dependencies]
rome_console     = { version = "0.0.1", path = "../rome_console" }
rome_diagnostics = { version = "0.2.0", path = "../rome_diagnostics" }
rome_rowan       = { version = "0.2.0", path = "../rome_rowan" }
schemars         = { version = "0.8.10", optional = true }
serde            = { version = "1.0.136", features = ["derive"], optional = true }

[dev-dependencies]
rome_js_factory = { path = "../rome_js_factory" }

[features]
serde = ["dep:serde", "schemars", "rome_rowan/serde"]
