.style {
	text-emphasis: none;
}

.style {
	text-emphasis-position: above;
}

.style {
	text-emphasis-position: below;
}

.style {
	text-emphasis-position: left;
}

.style {
	text-emphasis-position: right;
}

.style {
	text-emphasis-color: #555;
}

.style {
	text-emphasis-color: inherit;
}

.style {
	text-emphasis-color: initial;
}

.style {
	text-emphasis-color: unset;
}

.style {
	text-emphasis-style: filled;
}

.style {
	text-emphasis-style: open;
}

.style {
	text-emphasis-style: dot;
}

.style {
	text-emphasis-style: circle;
}

.style {
	text-emphasis-style: double-circle;
}

.style {
	text-emphasis-style: triangle;
}

.style {
	text-emphasis-style: filled sesame;
}

.style {
	text-emphasis-style: open sesame;
}

.style {
	text-emphasis-style: inherit;
}

.style {
	text-emphasis-style: initial;
}

.style {
	text-emphasis-style: unset;
}
