.style {
	text-align: center;
	box-sizing: content-box;
}

.style {
	box-sizing: content-box;
}

.style {
	text-align: center;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.style {
	text-align: center;
	box-sizing: border-box;
}

.style {
	box-sizing: border-box;
}

.style {
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
