filename: "file.ts"
invalid: [
	"
					function greet1() {
						try {
							throw new Error('Try')
						} catch(err) {
							throw err;
						} finally {
							return 1;
						}
					}
				"
	"
					function greet2() {
						try {
							throw new Error('Try')
						} catch(err) {
							throw err;
						} finally {
							break;
						}
					}
				"
	"
					function greet3() {
						try {
							throw new Error('Try')
						} catch(err) {
							throw err;
						} finally {
							continue;
						}
					}
				"
	"
					function greet4() {
						try {
							throw new Error('Try')
						} catch(err) {
							throw err;
						} finally {
							throw new Error('Finally');
						}
					}
				"
]
