---
import InlineSVG from "./InlineSVG.astro";
---
<div class="color-scheme-switch-container">
  <button aria-label="Toggle theme" title="Toggle theme" role="switch" aria-checked="true" class="color-scheme-switch">
    <div class="selector"></div>
    <InlineSVG src="moon" />
    <InlineSVG src="sun" />
  </button>
</div>
