---
import InlineSVG from "@src/components/InlineSVG.astro";
---
<div class="external-links">
  <a class="foreground-svg external-link" target="_blank" href="https://discord.gg/rome">
    <InlineSVG src="discord" />
    <span class="sr-only">Discord</span>
  </a>
  <a class="foreground-svg external-link" target="_blank" href="https://github.com/rome/tools">
    <InlineSVG src="github" />
    <span class="sr-only">GitHub</span>
  </a>
  <a class="foreground-svg external-link" target="_blank" href="https://twitter.com/rometools">
    <InlineSVG src="twitter" />
    <span class="sr-only">Twitter</span>
  </a>
</div>
