---
title: A JavaScript toolchain | Rome
---

<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

  {% set css %}{% include 'styles.css' %}{% endset %}

	<style>{{ css | cssmin | safe }}</style>

  <body>

    <div class="container">

      <div class="content">{{ content | safe }}<div>

    </div>

  </body>
</html>