.style {
	text-decoration: none;
}

.style {
	text-decoration: dashed;
}

.style {
	text-decoration: dotted;
}

.style {
	text-decoration: double;
}

.style {
	text-decoration: line-through;
}

.style {
	text-decoration: overline;
}

.style {
	text-decoration: underline;
}

.style {
	text-decoration: wavy;
}

.style {
	text-decoration: solid;
}

.style {
	text-decoration: blink;
}