---
layout: layouts/base.liquid
social-image: social-logo.png
---

<div class="page-header">
	<div class="container ">
		<a class="logo" href="/">
			{% include svg/rome-logo.svg %}

			<span class="logo-text sr-only">Rome</span>
		</a>

		<ul class="middle">
			<li><a {{ "/docs/" | linkattribs }}>Docs</a></li>
			<li><a {{ "/blog/" | linkattribs }}>Blog</a></li>
			<li><a href="https://play.rome.tools/">Playground</a></li>
			<li><a {{ "/credits/" | linkattribs }}>Credits</a></li>
		</ul>

		<ul class="right">
			<li class="foreground-svg"><a target="_blank" href="https://github.com/rome/tools">{% include svg/footer/github.svg %}<span class="sr-only">GitHub</span></a></li>
			<li class="foreground-svg"><a target="_blank" href="https://twitter.com/rometools">{% include svg/footer/twitter.svg %}<span class="sr-only">Twitter</span></a></li>
		</ul>
	</div>
</div>

<div class="page-header-mobile">
	<a class="logo" href="/">
		{% include svg/rome-logo.svg %}

		<span class="logo-text sr-only">Rome</span>
	</a>
	<div class="stretch"></div>
	
	{% include mobile-handle.liquid %}
</div>

<div class="container">
	{{ content | safe }}
</div>

<div class="container">
	<footer aria-labelledby="footer" class="footer-inner">
			{% include inner-footer.liquid %}
		</div>
	</footer>
</div>
