---
simple-sidebar: true
social-image: social-logo-heart.png
layout: layouts/base.liquid
---

<div class="hero hero-funding">
	<h1>
		<div>
			<div class="left"></div>
			<span class="text long-text">The Road to Rome</span>
			<span class="text short-text" aria-hidden="true">Road to Rome</span>
			<div class="right"></div>
		</div>
	</h1>

	<h2>Fundraising and Project Goals</h2>
</div>

<main id="main-content" class="content split funding">
	{{ content | safe }}
</main>

{% capture script %}{% include scripts/funding.js %}{% endcapture %}
<script>{{ script | jsmin | safe }}</script>
