---
layout: layouts/base.njk
---

{% set post = collections.post | reverse | first %}

<article class="latest-post">
  <h2>Latest blog post</h2>
  <div class="info">
    <h3>
     <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <div class="author">
      by
      {% if post.data.author_url %}
        <a href="{{ post.data.author_url }}">{{ post.data.author_name }}</a>
      {% else %}
        {{ post.data.author_name }}
      {% endif %}
      at {{ post.date | dateFormat }}
    </div>
  </div>
</article>

<div class="hero">
	<h1>The Rome Frontend Toolchain</h1>
	<h2>Standardizing the web development experience</h2>
</div>

<main id="main-content" class="content">

{{ content | safe }}

<h2>Learn more</h2>

<ul class="home-actions">
	<li>
		<a class="getting-started" href="/docs/getting-started">Get Started</a>
	</li>
</ul>

  <ul class="home-actions">
    <li>
      <a href="https://github.com/romefrontend/rome">
          {% include "./svg/github.njk" %}
        GitHub
      </a>
    </li>
    <li>
      <a href="https://opencollective.com/romefrontend">
        {% include "./svg/open-collective.njk" %}
      Open Collective
      </a>
    </li>
    <li>
      <a href="https://twitter.com/romefrontend">
        {% include "./svg/twitter.njk" %}
      Twitter</a>
    </li>
  </ul>

</main>
