---
simple-sidebar: true
social-image: social-logo-universe.png
layout: layouts/base.liquid
no-sidebar: true
body-class: inc force-light
---

<div id="inc-color-scheme">
	{% include color-scheme-switcher %}
</div>

<div class="inc-bg"></div>

<div class="inc-bg-padding" aria-hidden="true">
	<a href="/">Rome</a>
</div>

<div class="hero hero-inc">
	<h1>Announcing Rome Tools, Inc.</h1>
</div>

<main id="main-content" class="content single inc">
	{{ content | safe }}
</main>

<script>
	(function() {
		const bg = document.querySelector(".inc-bg");
		let lastTop = undefined;
		let disabled;

		document.addEventListener("scroll", (e) => {
			if (disabled === undefined) {
				disabled = matchMedia("(max-width: 768px)").matches || matchMedia("(prefers-reduced-motion)").matches;
			}

			if (disabled) {
				return;
			}

			if (document.scrollingElement.scrollTop > 450) {
				return;
			}

			const top = document.scrollingElement.scrollTop / 2;
			if (lastTop === top) {
				return;
			}

			lastTop = top;
			bg.style.transform = `translateY(${top}px)`;
		});
	})();
</script>
