---
layout: layouts/base.liquid
social-image: social-logo.png
---

<div id="main-content" class="main content {% if layout-type == "split" %}split{% else %}single{% endif %} {{ main-class }}">
	{{ content | safe }}
</div>
