[package]
name = "rome_text_edit"
version = "0.0.0"
authors = ["RSLint developers"]
edition = "2021"
license = "MIT"
description = "Simple text editing crate ported from rust-analyzer for the RSLint project"

[dependencies]
text-size = "1.1.0"
serde = { version = "1.0.136", features = ["derive"], optional = true }

[features]
serde = ["dep:serde", "text-size/serde"]
