<div class="color-scheme-switch-container">
  <button aria-label="Toggle theme" title="Toggle theme" role="switch" aria-checked="true" class="color-scheme-switch">
    <div class="selector"></div>
    {% include svg/moon.svg %}
    {% include svg/sun.svg %}
  </button>
</div>
