
# Jobs run on pull request
name: Pull request
on:
  pull_request:
    branches:
      - main
    paths: # Only run when changes are made to rust code or root Cargo
      - 'crates/**'
      - 'xtask/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  format:
    name: Format Rust Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --verbose -- --check

  lint:
    name: Lint Rust Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v3
        with:
          submodules: false
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-targets --release
      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets --verbose -- --deny warnings

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Compile for tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-run --workspace --verbose
      - name: Run tests
        uses: actions-rs/cargo@v1
        env:
          RUST_TEST_THREADS: 1
        with:
          command: test
          args: --workspace --verbose

  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Compile for tests
        uses: actions-rs/cargo@v1
      - name: Run doc command
        uses: actions-rs/cargo@v1
        with:
          command: documentation

  codegen:
    name: Codegen
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run the grammar codegen
        uses: actions-rs/cargo@v1
        with:
          command: codegen
          args: grammar
      - name: Run the analyzer codegen
        uses: actions-rs/cargo@v1
        with:
          command: codegen
          args: analyzer
      - name: Run the configuration codegen
        uses: actions-rs/cargo@v1
        with:
          command: codegen
          args: configuration
      - name: Run the website codegen
        uses: actions-rs/cargo@v1
        with:
          command: lintdoc
      - name: Check for git diff
        run: |
          if [[ `git status --porcelain` ]]; then
            git status
            exit 1
          fi

  test-cli:
    name: Test CLI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run CLI on JavaScript code
        uses: actions-rs/cargo@v1
        continue-on-error: true
        with:
          command: rome-cli
          args: ci editors website
