
# Jobs run on pull request
name: Pull request
on:
  pull_request:
    branches:
      - main

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --verbose -- --check
  format-js:
    name: Format JS Files
    runs-on: ubuntu-latest
    steps:
      - name: Install Rome
        uses: rome/setup-rome@v0.1
        with:
          version: preview

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Rome Format
        run: rome format --ci editors website


  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v2
        with:
          submodules: false
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-targets --release
      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets --verbose -- --deny warnings

  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Compile for tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-run --workspace --verbose
      - name: Run tests
        uses: actions-rs/cargo@v1
        env:
          RUST_TEST_THREADS: 1
        with:
          command: test
          args: --workspace --verbose
