<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mermaid Graph</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            const { searchParams } = new URL(document.location);
            const query = searchParams.get('graph');
            const graph = atob(decodeURIComponent(query));

            mermaid.initialize({ startOnLoad: true });
            mermaid.render('graph-div', graph, (svgCode) => {
                if (svgCode.length > 0) {
                    const container = document.createElement('div');
                    container.innerHTML = svgCode;
                    document.body.appendChild(container);
                }
            });
        </script>
    </body>
</html>
